{% extends 'flat/base.html' %}
{% load i18n %}
{% load static %}

{% block metadescr %}
  {% translate 'Продажа недвижимости в Турции - О кампании' context 'company' %}
{% endblock %}
{% block metakey %}
  {% translate 'Продажа недвижимости в Турции - О кампании' context 'company' %}
{% endblock %}

{% block body %}
  <div class="container">
    <h4>{% translate 'Компания Bavar-Invest является одним из лидеров рынка недвижимости с 2003 года. Благодаря нашему опыту и профессиональному подходу, мы смогли развиться и стать многопрофильной организацией, осуществляя свою деятельность по различным направлениям. Среди них:' context 'company' %}</h4>
    <div class="flex company">
      <img src="{% static 'flat/img/how/здание.jpg' %}" alt="" class="company-img" />
      <ul class="company-list">
        <li>
          {% translate 'Продажа недвижимости в различных регионах Турции.' context 'company' %}
        </li>
        <li>
          {% translate 'Строительство жилых комплексов, в настоящее время в городах Анталия и Алания.' context 'company' %}
        </li>
        <li>
          {% translate 'Юридическое сопровождение сделок купли-продажи недвижимости на всех этапах, от подготовки договора до регистрации права собственности (ТАПУ).' context 'company' %}
        </li>
        <li>
          {% translate 'Проведение комплексной экспертизы объектов недвижимости, с целью проверки их юридической чистоты и фактической состояния.' context 'company' %}
        </li>
        <li>
          {% translate 'Предоставление широкого спектра постпродажных услуг, таких как заключение договоров на обслуживание, уборка и ремонт помещений (включая дизайнерские услуги), помощь в сдаче недвижимости в аренду, прокат автомобилей, консультации по вопросам страхования и транспортные услуги.' context 'company' %}
        </li>
      </ul>
    </div>
    <h3>{% translate 'Как мы работаем' context 'company' %}</h3>
    <p>
      {% translate 'Процесс начинается с консультации по турецкому рынку недвижимости. Наши специалисты знакомят клиентов с имеющимися вариантами и, учитывая их требования и предпочтения, помогают выбрать наиболее подходящие объекты.' context 'company' %}
    </p>
    <p>
      {% translate 'Для потенциальных покупателей мы предоставляем русскоговорящего риелтора, который сопровождает клиентов на просмотрах интересующих объектов недвижимости.' context 'company' %}
    </p>
    <p class="company-text">
      {% translate 'Наши специалисты проводят комплексную оценку объектов, предоставляя клиенту полную информацию. После того, как покупатель делает окончательный выбор, мы помогаем оформить договор купли-продажи и подготовить все необходимые документы.' context 'company' %}
    </p>
    <p>
      {% translate 'После покупки недвижимости компания Bavar-Invest предоставляет комплекс постпродажных услуг, которые делают проживание в Турции комфортным и приятным.' context 'company' %}
    </p>
    <h3>{% translate 'Почему стоит обратиться именно к нам?' context 'company' %}</h3>
    <p>
      {% translate 'Компания Bavar-Invest, работая на рынке недвижимости уже более 18 лет, установила тесные связи со многими турецкими застройщиками и самостоятельно осуществляет строительство. Это позволяет нам предлагать обширную базу объектов жилой недвижимости. Обращаясь к нам, Вы делаете правильный выбор! Наши специалисты отлично ориентируются на рынке недвижимости, и Вы получите полную и исчерпывающую информацию по всем интересующим вопросам, связанным с жильем в Турции. Ваш выбор будет осознанным!' context 'company' %}
    </p>
    <p>
      {% translate 'К настоящему времени мы достигли значительных объемов продаж недвижимости. Мы исключили из работы комиссии и не используем сложные посреднические схемы, что позволяет нам предлагать лучшие цены и нашим клиентам покупать хорошую недвижимость без переплат.' context 'company' %}
    </p>
    <p>
      {% translate 'Юристы компании Bavar-Invest проводят всестороннюю проверку каждого объекта, реализуемого нами. Приобретая недвижимость через нашу компанию, Вы надежно защищены от мошенничества. Вам не придется столкнуться с бюрократической волокитой, которая часто сопровождает сделки с недвижимостью. Мы возьмем на себя оформление всех необходимых документов и коммуникацию с государственными органами.' context 'company' %}
    </p>
    <p>
      {% translate 'Мы предлагаем не только объекты недвижимости, но и услуги по адаптации в новых условиях жизни. Bavar-Invest помогает в получении ВНЖ, открытии счетов в банках, подборе образовательных учреждений для детей и решении многих других вопросов. Мы стремимся сделать процесс покупки недвижимости максимально комфортным и безопасным для наших клиентов.' context 'company' %}
    </p>
  </div>
  {% include 'flat/components/offer.html' %}
  {% include 'flat/components/reviews.html' %}
  {% include 'flat/components/how.html' %}
  {% include 'flat/components/all.html' %}
{% endblock %}
