{% extends 'flat/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "Проадажа недвижимости в Черногории" context 'cherno_main' %}
{% endblock %}

{% block body %}
  <section class="newobj">
    <div class="container">
      <h2 class="newobj-title">{% translate "Недвижимость в Черногории" context 'cherno_main' %}</h2>
      <ul class="newobj-cards" id="allCardsFilterChr">
        {% for card in flat %}
          <li class="newobj-cards__card">
            <a href="{{ card.get_absolute_url }}">
              <div class="newobj-cards__card-top">
                <img src="{% static 'flat/img/how/пентхаус.jpg' %}" alt="" />
                <span>{{ card.title }}</span>
              </div>
            </a>
            <div class="newobj-cards__card-bottom">
              <ul class="propety-card">
                <li class="property-card__itm card-geo">
                  <div class="card-link">
                    <a href="#">{{ card.main_city }}</a>
                    {% if card.main_district %}
                      <a href="#" class="card-link__two">/ {{ card.main_district }}</a>
                    {% endif %}
                  </div>
                </li>
                {% if card.main_rooms %}
                  <li class="property-card__itm card-rooms">
                    <a href="#">{{ card.main_rooms }}</a>
                  </li>
                {% else %}
                  <li class="property-card__itm card-rooms">
                    <a href="#">{{ card.main_type_real_estate }}</a>
                  </li>
                {% endif %}
                <li class="property-card__itm card-square">
                  {% if card.square %}
                    <a href="#">{{ card.square }}{% translate "m2" context 'cherno_main' %} </a>
                  {% else %}
                    <a href="#">{% translate "Подробности по телефону" context 'cherno_main' %}</a>
                  {% endif %}
                </li>
                <li class="property-card__itm card-price">
                  <span>{{ card.price }}</span>
                </li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% include 'flat/components/offer.html' %}
  {% include 'flat/components/reviews.html' %}
  {% include 'flat/components/how.html' %}
  {% include 'flat/components/all.html' %}
{% endblock %}
