{% extends 'flat/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate "Турецкие новости" context 'news_detail' %} - {{ news.title }}
{% endblock %}

{% block body %}
  <section class="articles">
    <div class="container">
      <h2 class="articles-title">{{ news.title }}</h2>
      <div class="articles-details-list__top">
        <img src="{{ news.photo.url }}" alt="{{ news.title }}" />
        <div class="articles-details-list__text">{{ news.text }}</div>
      </div>
      <div class="articles-list__date">{{ news.data }}</div>
    </div>
  </section>
  {% include 'flat/components/offer.html' %}
  {% include 'flat/components/reviews.html' %}
  {% include 'flat/components/how.html' %}
  {% include 'flat/components/all.html' %}
{% endblock %}
